extends ./layout.jade

block content
  main
    img(src='https://cdn2.vox-cdn.com/thumbor/OXIAoJelSrylpLPAGVp3drOnCP4=/cdn0.vox-cdn.com/uploads/chorus_asset/file/2317732/nicolasCage_NotTheBees.0.gif')
