doctype html
html
  head
    title PAGE
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='layout.css', type='text/css')
    link(rel='stylesheet', href='states.css', type='text/css')
  body
    header
      h1 Let's look at funny things on the internet
    block content
